.widget-holder {
	border:#999 3px dashed;
	min-height: 50px;
}
.ui-sortable {
	min-height:100px;
}
.login-page, .register-page {
	background: #ffffff !important;
}
.login-box-body, .register-box-body {
	background: #f5fbff !important;
	padding: 20px;
	color: #666;
	border-radius: 7px;
	border: 1px solid #b4ddff !important;
}
.sidebar-menu>li.active>a, .sidebar-menu>li.active>a a {
	font-weight: bold !important;
}
.bootstrapiso .modal-body {
	overflow-y: scroll;
	overflow-x: hidden;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
.shop-items {
	height: 130px;
	border: 1px solid #fff;
}
