.modal.modal-dejavoo {
    background: rgba(0,0,0,0.5);
}
a.dejavoo {
    font-weight: bold;
    color: #00a157;
}
.cardType {
    padding: 10px 50px;
    margin: 10px;
    border-radius: 5px;
}
.cardType.active {
    background-color: #00a157;
    color: white;
}